<%- include('layouts/root',{toast:toast})-%>

    <link rel="stylesheet" href="/styles/login.css" />

    <body>
        <div class="container">
            <img class="login-image" src="/svg/login.svg" alt="" />

            <div class="login-container">
                <header>Login</header>
                <div class="form-container">
                    <form id="loginform" method="post">
                        <input type="email" name="email" required placeholder="Email" />
                        <input type="password" name="password" required minlength="8" placeholder="Password" />
                        <button type="submit">Login</button>
                    </form>
                    <div class="signup-link">
                        Need account ? <a href="signup">Sign up</a>
                    </div>
                    <div class="forgot-link">
                        <a href="">forgot Password ?</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#loginform').reset()
            console.log('resetform')

        })
    </script>