* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  position: relative;
  height: 90dvh;
  width: 75%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.signup-block-container {
}

.container img {
  padding: 1rem;
  background: linear-gradient(271deg, #ffffff05, #6c63ff);
  width: 40%;
}

.container .login-container,
.container .signup-container {
  flex-grow: 1;
}
.login-container,
signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.login-container header,
.signup-container header {
  font-size: 2em;
  margin: 20px;
  color: #333;
}

.form-container {
  padding: 15px 32px;
  border-radius: 8px;
  width: 100%;
  /* max-width: 400px; */
  flex-grow: 0.8;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  justify-content: space-between;
  font-size: larger;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
}
.form-group {
  text-align: center;
}

form input,
.form-group input,
.form-group select {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

form input:focus {
  border-color: #0020bd63;
  outline: none;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  background: #6c63ff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #020080a7;
}
input[type="file"] {
  position: relative;
}
input[type="file"]::before {
  position: absolute;
  font-size: 0.6em;
  top: 1px;
  left: 1px;
  content: "* Profile photo";
}

.signup-link,
.forgot-link {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form h2 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

.toast-label {
  font-size: smaller;
}
